<div class="widgets">
  <div class="row">
   <ba-card class="col-md-12"
                      title="Calendrier" baCardClass="traffic-panel">
              <p-schedule [events]="events"   (onDayClick)="handleDayClick($event)"  (onEventClick)="handleEventClick($event)"></p-schedule>

              <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false" width="450">
              <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
                      <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="typeSeance">Type de seance</label></div>
                      <div class="ui-grid-col-8">
                      <select [(ngModel)]="event.seanceType">
                            <option [ngValue]="seanceType" *ngFor="let seanceType of seanceTypes">
                            {{seanceType.libelle}}  
                        </option>
                        </select>
                     </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="start">Start</label></div>
                      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.startTime" dateFormat="yy-mm-dd" [timeOnly]="true"></p-calendar></div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="end">End</label></div>
                      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.endTime" dateFormat="yy-mm-dd" [timeOnly]="true"></p-calendar></div>
                  </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="patient">Patient</label></div>
                        <div class="ui-grid-col-8">
                            <select [(ngModel)]="event.patient">
                                <option  [ngValue]="patient" *ngFor="let patient of patients">
                                     {{patient.prenom}}  {{patient.nom}} 
                                </option>
                            </select>
                        </div>
                  </div>
                <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="nbrepeat">Nombre de fois à dupliquer</label></div>
                      <div class="ui-grid-col-8"><input  name="nbrepeat" type="text"  id="nbrepeat" [(ngModel)]="event.nbRepeat"/></div>
                  </div>
              </div>
              <p-footer>
                  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                      <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
                      <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
                  </div>
              </p-footer>
          </p-dialog>
    </ba-card>
  </div>
</div>

