<form (ngSubmit)="onSubmit()">
  <div class="form-group">
     <label for="nom">Nom</label>
    <input  [(ngModel)]="patientToCreate.nom" name="nom" type="text" class="form-control" id="nom" placeholder="Nom">
  </div>
  <div class="form-group">
   <label for="prenom">Prénom</label>
    <input  [(ngModel)]="patientToCreate.prenom"  name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Créer</button>
  </div>
</form>

  