<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="row">
  <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !nom.valid, 'has-success': nom.valid}">
            <label for="nom">Nom</label>
            <input formControlName="nom" name="nom" type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
   </div>
   <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !prenom.valid, 'has-success':prenom.valid}">
            <label for="prenom">Prénom</label>
            <input  formControlName="prenom"  name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>
    </div>

</div>

<div class="row">
  <div class="col-sm-12">
        <div class="form-group"  [ngClass]="{'has-error': !adresse.valid, 'has-success':adresse.valid}">
            <label for="adresse">Adresse</label>
            <input  formControlName="adresse" name="adresse" type="text" class="form-control" id="adresse" placeholder="Adresse">
        </div>
   </div>
</div>

<div class="row">
  <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !cdPostal.valid , 'has-success':cdPostal.valid }">
            <label for="cdPostal">Code Postal</label>
            <input  formControlName="cdPostal" name="cdPostal" type="text" class="form-control" id="cdPostal" placeholder="Code Postal">
        </div>
   </div>
   <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !ville.valid, 'has-success':ville.valid}">
            <label for="ville">Ville</label>
            <input  formControlName="ville"  name="ville" type="text" class="form-control" id="ville" placeholder="Ville">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-4">
        <div class="form-group has-feedback" [ngClass]="{'has-error': !mail.valid , 'has-success':mail.valid}" >
            <label class="control-label" for="inputGroupSuccess1">e-mail</label>
            <div class="input-group">
                <span class="input-group-addon addon-left">@</span>
                    <input  formControlName="mail" type="text" name="email"  class="form-control" id="email" >
            </div>
       
        </div>
   </div>

   <div class="col-sm-4">
        <div class="form-group"  [ngClass]="{'has-error': !tel.valid , 'has-success':tel.valid}">
            <label for="tel">Téléphone</label>
            <input  formControlName="tel"  name="tel" type="text" class="form-control" id="tel" placeholder="Téléphone">
        </div>
    </div>
   <div class="col-sm-4">
        <div class="form-group"  [ngClass]="{'has-error': !siret.valid , 'has-success':siret.valid}">
            <label for="siret">Siret</label>
            <input  formControlName="siret"  name="siret" type="text" class="form-control" id="siret" placeholder="Siret">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !login.valid , 'has-success':login.valid }">
            <label for="login">Login</label>
            <input  formControlName="login" name="login" type="text" class="form-control" id="login" placeholder="Login">
        </div>
   </div>
   <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !password.valid , 'has-success':password.valid}">
            <label for="password">Password</label>
            <input  formControlName="password"  name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
</div>
<div class="row">
 <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !statut.valid , 'has-success':statut.valid }">
            <label for="statut">Statut</label>
              <select formControlName="statut" name="statut"   id="statut" placeholder="Statut" class="form-control" >
                <option value="COLAB" selected>Colaboratrice</option>
                <option value="REMP">remplaçante</option>
            </select>
        </div>
    </div>
 <div class="col-sm-6">
        <div class="form-group"  [ngClass]="{'has-error': !admin.valid, 'has-success': admin.valid}">
            <label for="admin">Administrator</label>
              <select formControlName="admin" name="admin"   id="admin" placeholder="Administrator" class="form-control" >
                <option value="true" selected>true</option>
                <option value="false">false</option>
            </select>
        </div>
    </div>
</div>
  <div class="form-group">
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Créer</button>
  </div>
</form>

